/* Variables of consistant site colors */
var {
    --bg-color: aliceblue;
    --subhead-color: lightskyblue;
}

/* ki wellness title */
h1{
    font-family: papyrus;
    color: green;
    margin-bottom: 15px;
}
/* on child page */
h2{
    font-family: papyrus;
    text-align: center;
    color: var(--subhead-color);
}

/* links */
body{
    margin-top: 75px;
    background-color: var(--bg-color);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/*  Centering the navigation links */
div#navigation{
    float: left;
    width: 100%;
    background: none;
    position: relative;
    padding-bottom: 25px;
}
div#navigation ul{
    clear: left;
    float: right;
    width: 100%;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    position: relative;
    right: 100%
    text-align-center;
}
div#navigation ul li{
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    position: relative;
    left: 39%;
}
div#navigation ul li a{
    display: block;
    margin:0 0 0 1px;
    padding:3px 10px;
    background: none;
    line-height: 1.3em;
    color: green;
    border: 1px solid green;
}
/* Button hover action */
div#navigation ul li a:hover{
    background-color: antiquewhite;
}

div ul#secondnav a{
    width: 100%;
    float: center;
    left: 35%
}
/* Database Table Display */
table#dbtable{
    width: 100%;
    float: center;
}
thead#dblabels{
    width: 100%;
    float: center;
    position: relative; 
}
footer div#gfm-embed {
    display: block;
    width: 100%;
    margin: 20 20 20 20px;
    float: right;
    background-color: var(--bg-color);
}