/* Your global theme */
:root {
    --bg-color: aliceblue;
    --subhead-color: lightskyblue;
    --main-font: green;
    --hover-font: antiquewhite;
}
a {
    color: var(--main-font);
    text-decoration: none;
}
/* Title styling */
h1 {
    font-family: papyrus, fantasy;
    color: var(--main-font);
    margin-bottom: 15px;
    text-align: left;
}
h2 {
    font-family: papyrus, fantasy;
    color: var(--subhead-color);
    margin-bottom: 15px;
    margin-top: 30px;
}
/* Navigation button hover action */
div#navigation ul li a:hover{
    background-color: var(--hover-font);
}
div#navigation ul li a{
    color: var(--main-font);
}
.navbar {
    width: 100%;
    justify-content: left;
    padding: 5px;   
}
.navlink {
    text-decoration: none;
    background: var(--bg-color);
    color: var(--main-font);
    border-radius: 1px;
    border-color: var(--main-font);
    padding: 5px;
}
.navlink:hover {
    background-color: var(--hover-font);
}

/* Basic body styling */
body {
    margin-top: 75px;
    background-color: var(--bg-color);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Page navigation section centering */
.centered-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--bg-color);
}
.left-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    background-color: var(--bg-color);
}

/* Table styling if used in block content */
#dbtable {
    margin: 20px auto;
    border-collapse: collapse;
    width: auto;
    text-align: center;
}

/* Database Table */
#dbtable th,
#dbtable td {
    border: 1px solid var(--main-font);
    padding: 8px 0px;
}

/* Footer Donate link */
.second-centered-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--bg-color);
    margin-top: 50px;
    color: var(--main-font)
}
/* Custom dropdown hover behavior */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid var(--main-font);
    padding: 10px;
    text-align: left;
}

.dropdown-item {
    display: block;
    padding: 5px 10px;
    color: var(--main-font);
    text-decoration: none;
    font-size: 0.9rem;
}

.dropdown-item:hover {
    background-color: var(--hover-font);
}

.db-button-bar {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 100px;
  color: var(--main-font);
}
.btn {
  padding: 5px 10px;
  background: var(--bg-color);
  color: var(--main-font);
  border-radius: 5px;
  text-decoration: none;
}
.btn:hover {
    background-color: (var(--hover-font));
}