{% extends "index.html" %}
{% block content %}
<div>
<h2 class="aligncenter">Journal Entry</h2>
</div>
<ul>
    <a href="{{ url_for('food_entry_routes.manual_entry') }}" type="button" class="btn btn-outline-info btn-sm"> Manual entry </a></li>
    <a href="{{ url_for('food_entry_routes.scan_food') }}" type="button" class="btn btn-outline-info btn-sm"> Scan food </a></li>
    <a href="{{ url_for('food_entry_routes.upload_image') }}" type="button" class="btn btn-outline-info btn-sm"> Upload image </a></li>
</ul>
{% endblock %}