{% extends "index.html" %}
{% block content %}
<div>
    <h2 class="subheader">Journal Entry</h2>
</div>
<div>
    <ul class="secondnav">
        <a href="{{ url_for('food_entry_routes.add_food') }}" type="button" class="btn btn-outline-info btn-sm"> Manual entry </a></li>
        <a href="{{ url_for('food_entry_routes.scan_food') }}" type="button" class="btn btn-outline-info btn-sm"> Scan food </a></li>
        <a href="{{ url_for('food_entry_routes.upload_image') }}" type="button" class="btn btn-outline-info btn-sm"> Upload image </a></li>
    </ul>
</div>
{% endblock %}