{% extends "index.html" %}

{% block content %}
<div class="food-content">
    <h2 class="subheader">Food Entry</h2>
        <form class="foodform" action="/add_food" method="POST">
        <fieldset class"foodformfieldset">
            <p>
                <label for="food_name">Enter Food item, serving size and units: </label>
                <input type="text" name="food_name" id="food_name" />
            </p>
            <p>
                <input type="submit" value="Add Entry" id="btn_add" />
            </p>
        </fieldset>
    </form>
</div>


{% endblock %}
