<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ki Wellness</title>
    <meta name="description" content="Wellness Support App">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />

    <!-- Your Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Ki Wellness</h1>

    <!-- Navigation -->
    <div id="navigation" class="centered-section">
        <table>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a href="{{ url_for('home') }}" class="btn btn-outline-info btn-sm m-1">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" onclick='return false'; class="btn btn-outline-info btn-sm m-1 dropdown-toggle" id="foodDropdown">Food Entry</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url_for('food_entry_routes.add_food') }}">Add Food</a>
                        <a class="dropdown-item" href="{{ url_for('food_entry_routes.scan_food') }}">Scan Food</a>
                        <a class="dropdown-item" href="{{ url_for('food_entry_routes.upload_image') }}">Upload Pic</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('display_stats_routes.display_stats') }}" class="btn btn-outline-info btn-sm m-1">Statistics and Logs</a>
                </li>
            </ul>
        </table>
    </div>

    <!-- Dynamic Page Content -->
    <div class="centered-section">
        {% block content %}{% endblock %}
    </div>

    <!-- GoFundMe Embed -->
        <p><a class="second-centered-section" href= "https://www.gofundme.com/f/be-part-of-the-nutrition-transformation" target="_blank" rel="noopener noreferrer"> ~ Donate to keep this site going ~ </a></p>
    </div>
</body>
</html>