<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ki Wellness</title>
    <meta name="description" content="Wellness Support App">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />

    <!-- Your Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <img src="../asstes/kiWellnessicon.png" alt="alternatetext" />
    <h1>Ki Wellness</h1>
    <div>
        <nav class="navbar">
            <p>
            <button type="button" href="{{url_for('food_journal_routes.food_journal')}}" class="navlink">Food Journal</button>
            </p>
            <p>
            <button type="button" href="/exercise_log" class="navlink">Exercise Log</button>
            </p>
            <p>
            <button type="button" href="/spiritual_playlist" class="navlink">Spiritual Playlist</button>
            </p>
        </nav>
    </div>
    <hr>
    <!-- Dynamic Page Content -->
    <div class="centered-section">
        {% block content %}{% endblock %}
    </div>

    <!-- GoFundMe Embed -->
        <p><a class="second-centered-section" href= "https://www.gofundme.com/f/be-part-of-the-nutrition-transformation" target="_blank" rel="noopener noreferrer"> ~ Donate to keep this site going ~ </a></p>
    </div>
</body>
</html>